@import "tailwindcss";

* {
  @apply tracking-tight;
}
.font-serif {
  @apply tracking-normal;
}

.btn-primary {
  @apply cursor-pointer rounded-lg bg-emerald-400 font-medium text-black transition-colors hover:bg-emerald-500 disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50;
}
.btn-secondary {
  @apply cursor-pointer rounded-lg bg-emerald-500/30 font-medium text-emerald-300 transition-colors hover:bg-emerald-500/20 disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50;
}
